<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>video</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeacherServlet</display-name>
    <servlet-name>ListTeacherServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeacherServlet</servlet-name>
    <url-pattern>/listTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherServlet</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/addTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUsersServlet</display-name>
    <servlet-name>ListUsersServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersServlet</servlet-name>
    <url-pattern>/listUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudentServlet</display-name>
    <servlet-name>ListStudentServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentServlet</servlet-name>
    <url-pattern>/listStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVideoGroupsServlet</display-name>
    <servlet-name>AddVideoGroupsServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.AddVideoGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVideoGroupsServlet</servlet-name>
    <url-pattern>/addVideoGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVideoGroupsServlet</display-name>
    <servlet-name>ListVideoGroupsServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListVideoGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVideoGroupsServlet</servlet-name>
    <url-pattern>/listVideoGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVideoGroupsAllServlet</display-name>
    <servlet-name>ListVideoGroupsAllServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListVideoGroupsAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVideoGroupsAllServlet</servlet-name>
    <url-pattern>/listVideoGroupsAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVideoInfosServlet</display-name>
    <servlet-name>AddVideoInfosServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.AddVideoInfosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVideoInfosServlet</servlet-name>
    <url-pattern>/addVideoInfosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVideoInfosServlet</display-name>
    <servlet-name>ListVideoInfosServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListVideoInfosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVideoInfosServlet</servlet-name>
    <url-pattern>/listVideoInfosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListIndexServlet</display-name>
    <servlet-name>ListIndexServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListIndexServlet</servlet-name>
    <url-pattern>/listIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVideoInfosByIDServlet</display-name>
    <servlet-name>ListVideoInfosByIDServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListVideoInfosByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVideoInfosByIDServlet</servlet-name>
    <url-pattern>/listVideoInfosByIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentInfosServlet</display-name>
    <servlet-name>AddCommentInfosServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.AddCommentInfosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentInfosServlet</servlet-name>
    <url-pattern>/addCommentInfosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListQuestionGroupsServlet</display-name>
    <servlet-name>ListQuestionGroupsServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListQuestionGroupsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListQuestionGroupsServlet</servlet-name>
    <url-pattern>/listQuestionGroupsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListQuestionInfosServlet</display-name>
    <servlet-name>ListQuestionInfosServlet</servlet-name>
    <servlet-class>com.sxt.video.servlet.ListQuestionInfosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListQuestionInfosServlet</servlet-name>
    <url-pattern>/listQuestionInfosServlet</url-pattern>
  </servlet-mapping>
</web-app>